/frontend/node_modules/
/data/bad_names_df.csv
/data/good_names_df.csv
/data/eu_airlines_iata.csv
/data/eu_airports_df.csv
/data/eu_country_iso.csv
/data/eu_flights.csv
/data/eu_flights.csv
/data/aggregated_airline_reviews.csv
/data/aggregated_airport_reviews.csv
/final_data/
